<div class="text-center">
  
    <h3><div class="moneySum"><span>557563428<span>zł</div> tyle dotacji otrzymały organizacje pozarządowe w 2015
    </h3>
<h2>Sprawdź jedną z nich:</h2>
    <input type="email" id="organisation-name" class="form-control"  placeholder="nazwa organizacji">
     <a href="#/organisation"> <button type="button"  class="btn btn-warning btn-block">Szukaj1</button></a>


<div class="row">
<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
  <div class="tile"></div>
</div>
<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
   <div class="tile"></div>
</div>
<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
   <div class="tile"></div>
</div>
</div>
</div>