<div class="text-center" ng-controller="SearchCtr as search">
  
    <h3><div class="moneySum"><span>{{search.sum}}<span>zł</div><div class='infoAboutMoney'> tyle dotacji otrzymały organizacje pozarządowe w 2015
    </div>
    </h3>
    <h2>Sprawdź jedną z nich:</h2>
		<search-for-organization >

		</search-for-organization>

     <button type="button" ng-click="search.showOrganizationData(writings)" class="btn btn-warning btn-block">Szukaj
     </button>


<div class="row">
<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 tile-container">
  <div class="tile"></div>
</div>
<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 tile-container">
   <div class="tile"></div>
</div>
<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 tile-container">
   <div class="tile"></div>
</div>
</div>
</div>