<div class="text-center" ng-controller="LineCtrlOrganization as line">
  
    <h3><div class="moneySum"><span>557563428<span>zł</div> tyle dotacji otrzymała organizacja 
    <span id="organisationName"> {{actualName}}</span>
    </h3>
<div class="row">

<div class="my-chart col-lg-4 col-sm-12 ">

	<canvas style="height:40px;" id="line" class="chart chart-line" chart-data="data"
	chart-labels="labels" chart-series="series" chart-options="options"
	chart-dataset-override="datasetOverride" chart-click="onClick">
	</canvas> 
</div>

<div class="col-lg-4 col-sm-12">
<table class="table table-bordered table-responsive"> 
<thead> 
<tr> 
<th>Od kogo dotacja</th> 

<th>2011</th>
 <th>2012</th> 
 <th>2013</th> 
 <th>2014</th> 
 <th>2015</th> 

 </tr> 
 </thead> 
 <tbody> 

 <tr ng-click="setSelected(24234,234234,13123,123123,4534)" ng-class="{info: 1 === 1}"> 
 <th scope="row">Patriotyzm jutra</th> 
 
 <td>24234</td> 
 <td>234234</td>
  <td>13123</td> 
  <td>123123</td> 
  <td>35434534</td> </tr> 

  <tr ng-click="setSelected(24234,1233,13123,123123,4534)"> 
  <th scope="row">1 %</th>
 <td>24234</td> 
 <td>234234</td>
  <td>3000</td> 
  <td>123123</td> 
  <td>35434534</td>  </tr> 
  <tr ng-click="setSelected(12313,234234,13123,123123,4534)" > 
  <th scope="row">Suma</th> <td>24234</td> 
 <td>234234</td>
  <td>13123</td> 
  <td>123123</td> 
  <td>35434534</td>   </tr> </tbody> </table> 
  </div>
  </div>
<div>
</div>


</div>